@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Coolrom</h1>
    <p class="lead">Sistema web realizado para fines educativos.</p>
    <p class="lead">Si deseas descargar y/o colaborar, link del repositorio abajo.</p>
    <br />
    <p>Tecnologias aplicadas: Asp.net, MVC, EF, Asmx Web-service, Reporting service, etc...</p>
    <p><a href="https://github.com/Yaret3000/RepoRoms-WS" >Go to Github!</a></p>
</div>
